/* APP */


.app{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-app{
    display: flex;
    flex-grow: 1;
}


/* REGOLE DI RESET */


ul, li, a{
    list-style: none;
    text-decoration: none;
    color: currentColor;
}

input{
    border: none;
}


/* COMPONENTI PRINCIPALE */


nav{
    background-color: var(--lightlightgray);
    min-height: 70px
}

aside{
    min-width: 150px;
    background-image:url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #0F263C;
}

/* UTILITY */

.box-icon{
    width: 30px;
}

.c-white{
    color: white;
}

.c-lightgray{
    color:lightgray
}

.bc-white{
    background-color: white;
}

:root{
    --lightlightgray: #F8F9FA;
    --lightgray:#E5E5E5
    --white:#ffffff;
    --blu:#1B72E8;
}

.bc-gray{
    background-color: gray;
    padding: 20px;
}

.container-fluid .row{
    width: 100%;
}

/* ASIDE */

.search-bar{
    background-color: lightgray;
    flex-grow: 1;
    border-radius: 5px;
}