/* APP */


.app{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-app{
    display: flex;
    flex-grow: 1;
}

:root{
    --lightlightgray: #F8F9FA;
    --lightgray:#E5E5E5
    --white:#ffffff;
    --blu:#1B72E8;
}

.row{
    flex-grow: 1
}


/* REGOLE DI RESET */


ul, li, a{
    list-style: none;
    text-decoration: none;
    color: currentColor;
    padding: 0px;
    margin: 0px;
}

input{
    border: none;
}

.logo-mobile{
    max-height: 35px;
    padding: 0px;
}

button{
    text-decoration: none;
    border-style: none;
    padding: 0px;
    color: currentColor;
}

/* COMPONENTI PRINCIPALE */


nav{
    background-color: var(--lightlightgray);
    min-height: 70px
}

aside{
    min-width: 50px;
    background-image:url(../img/sidebar-bg.png);
    background-size: cover;
    background-color: #0F263C;
}

/* UTILITY */

.box-icon{
    width: 30px;
}

.c-white{
    color: white;
}

.c-lightgray{
    color:lightgray
}

.bc-white{
    background-color: white;
}

.bc-gray{
    background-color: gray;
}

/* BUTTON CUSTOM */

.button-filter{
    background-color: #165BBA;
    padding:0px 10px;
    border-radius: 30px;
    color: white;
    margin: 8px 0;
}

/* NAV */

.search-bar{
    background-color: lightgray;
    flex-grow: 1;
    border-radius: 5px;
}


/* MAIN  CONTENT */

.main-content{
    width: 100%;
}

.add-student{
    background-color: #1B72E8;
    min-height: 130px;
    padding: 20px;
    
}