
/* APP */

.app{
    height: 100vh;
    overflow: hidden;
}


/* REGOLE DI RESET */

ul,li{
    list-style: none;
    text-decoration: none;
}


/* COMPONENTI PRINCIPALE */

.main-content{
   background-color: red;
}

nav{
    background-color: var(--lightlightgray);
    min-height: 80px
}

aside{
    max-width: 100px;
    height: 100%;
}

/* UTILITY */

.bc-white{
    background-color: white;
}

:root{
    --lightlightgray: #F8F9FA;
    --lightgray:#E5E5E5
    --white:#ffffff;
    --blu:#1B72E8;
}

.bc-gray{
    background-color: gray;
    padding: 20px;
}

.container-fluid .row{
    width: 100%;
}